* {
    box-sizing: border-box;
}

header {
    border: 1px solid #BC8F8F;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    background-color: #F5FFFA;
    border: 1px solid #800000;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
}

.section-item {
    position: relative;
    padding-left: 30px;
}

.section-item::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 0px;
    width: 10px;
    height: 10px; 
}

.section-item a{
    color: #829985;
    text-decoration: none;
    transition: color 0.5s;
}

.section-item a:hover {
    color: #800000;
}

.main-container {
    display: flex;
    flex-flow: wrap;
    padding: 10px;
    color: #4d2323;
}

.section {
    width: 50%;
}

@media (max-width: 860) {
    .section {
        flex-direction: column;
    }    
}

html {
    scroll-behavior: smooth;
}

.section-title {
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.link {
    text-decoration: none;
    transition: color 0.5s;
}

.rss {
    width: 121px;
    height: 45px;
    background-image: url("./assets/rss.png");
    background-size: contain;
    background-repeat: no-repeat;
}

h1 {
    color: #60233a;
}

h2 {
    color: #28503f;
}

footer {
    border: 1px solid #BC8F8F;
}